.discussion-post, .topic-block {
    background-color: var(--secondary-accent-color);
    margin: 10px;
    padding: 8px;
    border-radius: 4px;
}

.topic-block {
    text-wrap: wrap;

}

#trending-topic-section {
    background-color: var(--primary-color);
    padding: 8px;
    
}

#forum-title, #contact-header {
    padding-left: 20px;
    background-color: var(--secondary-color);
    padding: 8px;
    margin: 0;
}

#back-header {
    padding-left: 20px;
    background-color: var(--secondary-color);
    padding: 13px;
    margin: 0;
}

#topic-title {
    margin: 15px;
}

.discussion-link, #back-header a {
    text-decoration: none;
    color: inherit;
    display: block;
}

#contact-container {
    text-align: left;
    margin: 10px;
}

#contact-page {
    padding-right: 50px;
}

#txt-name,
#txt-email,
#txt-input,
textarea {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

textarea {
    padding-bottom: 200px;
}


/* Media Queries */
@media screen and (min-width: 768px) {
    #forum-posts {
        overflow-y: auto;
    }

    #trending-topic-section {
        align-items: center;
    }

    .topic-block {
        width: 345px;
        height: auto;
    
    }
    
}