body {
    background: linen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: midnightblue;
    text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: rgba(204, 188, 172, 0.753);
}
.assign img {
    width: 200px;
    padding: 10px;
}
