/* Structure */
body {
    background-image: url(../csce242/images/prettybg.jpg);
    background-size:auto;
    background-repeat: repeat;
    background-color: rgba(1,58,64,0.25);
    background-blend-mode: overlay;
}

#page {
    background-color: whitesmoke;
    padding: 2%;
    width: 90%;
    margin: auto;
    line-height: 1.4;
}

#name {
    color: #c2a674;
    text-align: left;
}
#headers {
    color: #013A40;
}

h1, h2, h3, header p {
    text-align: center;
}

header h3 {
    color: #107373;
}

h2 {
    background-color: rgb(148, 190, 190, 0.35);
    border-radius: 4px;
    margin: 15px;
    color: #107373;
}

header h3 {
    padding-right: 10px;
}

.columns {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

#assignment-block, #project-block {
    background-color: rgb(148, 190, 190);
    padding: 20px;
    border-radius: 8px;
    border: 3px solid aliceblue;
    text-align: center;
    margin: 15px;
    min-width: 250px;
    
}

footer {
    color: antiquewhite;
    background-color: #107373;
    text-align: center;
}

/* Images */
#assignment-block img, #project-block img {
    display: block;
    margin-top: auto;
    position: relative;
    padding: 0px;
    width: 200px;
    height: 120px;
    border-spacing: 0;
    border:#a7ced2 3px solid;
    border-radius: 2px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    
}

/* Navigation */
#assignment-block a, #project-block a {
    text-decoration: none;
}

.assignment-links, .project-links, .assignment-title, .project-title {
    text-decoration: none;
    color: #013A40;
    font-weight: bolder;
    padding: 30px auto 80px auto;
}

 .assignment-links:hover, .project-links:hover, .block-link:hover {
    color: #F2D091;
 }

/* Typography */
#page {
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center stretch;
        justify-content: flex-start;
    }

    .one {
        flex: 1;
    }

    #assignment-links, #project-links {
        margin-left: auto;
        margin-right: auto;
    }

    #assignment-block, #project-block {
        max-width: 300px;
        
    }
}


