/* Structure */
body {
    background-image: url(../csce242/images/prettybg.jpg);
    background-size:auto;
    background-repeat: repeat;
    background-color: rgba(1,58,64,0.25);
    background-blend-mode: overlay;
}

#page {
    background-color: whitesmoke;
    padding: 2%;
    width: 90%;
    margin: auto;
    color: #013A40;
    line-height: 1.4;
    height: 100vh;
}

#name {
    color: #c2a674;
    text-align: left;
}

header h1, header h2, header h3 {
    color: #107373;
    text-align: center;
}

header h3 {
    padding-right: 10px;
}

#assignment {
    background-color: azure;
    padding: 8px;
    margin: 15px auto;
    border-radius: 2px;
    border: 3px solid aliceblue;
}

footer {
    color: antiquewhite;
}

/* Navigation */
#assignment a {
    text-decoration: none;
}

.assignment-links {
    text-decoration: none;
    color: #013A40;
}

 .assignment-links:hover {
    color: #F2D091;
 }

/* Typography */
#page {
    font-family: Arial, Helvetica, sans-serif;
}

/* Media Queries */
@media screen and (min-width:600px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    
}



