body {
    margin: 0;
    padding: 0;
}

#content {
    font-family: Arial, sans-serif, Helvetica;
    margin-left: 80px;
    margin-right: 80px;
}

#black-header {
    position: fixed;
    height: auto;
    flex-direction: row;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: right;
    width: 100%;
}

#black-header-logo {
    margin-left: 10px;
    margin-top: 0;
}

#garnet-header {
    width: 100%;
    margin-top: -1px;
    background-color: #73000A;
    padding-top: 5px;
    padding-left: 80px;
    padding-bottom: 5px;
    color: white;
    height: 40px;
    text-align: left;
    font-size: 25px;

}

#featured-article-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#featured-article-title {
    text-decoration: none;
    color: #73000A;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: x-large;
}

#white-caption {
    background-color: white;
    padding: 10px;
    position: relative;
    flex: content;
    width: 100%;
}

#blurb-category-section {
    display: flex;
}

#secondary-column {
    flex: 0.65;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    flex-grow: 1;
    text-align: left;
}

#sidelinks-column {
    flex: 0.35;
}

#blurb-container {
    margin-bottom: 10px;
}

#blurb-container p {
    padding: 5px 10px;
    font-size: 18px;
    line-height: 1.5;
}

.block  {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 260px;
    box-sizing: border-box;
}

.block-title {
    text-decoration: none;
    margin-top: 4px;
    color: #73000A;
    font-weight: bolder;
}

.block p {
    margin-top: 5px;
}

#news-container {
    margin-top: 40px;
    width: 100%;
}

#news-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #73000A;
}

#social-icons-container {
    text-align: center;
    padding: 5px;
}

.news-article-title {
    text-decoration: none;
}

#news-container h4{
    margin-top: 0;
    margin-bottom: 8px;
    color: #73000a;
    font-weight: bolder;
}

.news-article-block {
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    padding-right: 100px;
    border-bottom: 1px solid gray;
}

.news-article-block a, .news-article-block p {
    padding-left: 8px;
}

.news-article-block a {
    color: #73000a;
    font-weight: bold;
}

#gray-footer {
    margin-top: 100px;
    display: flex;
    background-color: #ECECEC;
    height: 40px;
}

#left {
    text-align: left;
    padding-left: 80px;
}

#right {
    text-align: right;
    padding-right: 80px;
}

#right a {
    text-decoration: none;
    padding-right: 8px;
    color: black;

}

#garnet-footer {
    background-color: #73000A;
    color: white;
    padding-right: 80px;
    padding-left: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    min-width: 250px;
    padding-bottom: 10px;
}

.footer-section h3 {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.footer-columns {
    display: flex;
    gap: 20px;
}

.footer-columns ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-columns li {
    margin-bottom: 8px;
    list-style: none;
    font-size: smaller;
}

.footer-columns a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

#black-footer {
    background-color: black;
    padding: 15px 80px ;
    text-align: left;
}

#black-footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: smaller;
}

/* Images */
#black-header-logo img, #bottom-logo {
    width: 250px;
    height: 50px;
}

#featured-article-container img {
    width: 1100px;
    height: 550px;
    margin-bottom: 20px;
}

.block img {
    width: 260;
    height: 125;
    padding-bottom: 3px;
}

.social-icons-container img {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#footer-icons {
    text-align: right;
    padding-top: -10px;
}

#bottom-logo {
    padding-top: 20px;
}

/* Navigation */
#header-nav {
    text-align: right;
}

#header-nav p {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: white;
    text-transform: uppercase;
    font-size: xx-small;
    padding-right: 80px;

}

#header-nav a {
    text-decoration: none;
    color: white; 
    
}

#header-nav a:hover, .sidelink:hover {
    background-color: #73000A;
    color: white;

}

.sidelink, .sub-link {
    display: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    #white-caption {
        position: absolute;
        width: 300px;
        height: 130px;
        padding: 10px;
        position: absolute;
        top: 500px;
        left: 110px;
        box-shadow: 0 4px 8px #73000A;
    }

    #black-header {
        position: relative;
        top: 0;
    }

    #black-header-logo {
        text-align: left;
        margin-top: -5px;
        padding-left: 80px;
        margin-bottom: 10px;
    }

    #sidelinks-column {
        width: 320px;
    }

    #block-container {
        max-width: 830px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        padding-left: 8px;
    }

    .news-article-block {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .three {
        flex: 3;
    }

    

    .sidelink, .sub-link {
        display: block;
        text-decoration: none;
        color: black;
        font-weight: bolder;
    }
    
    .sidelink {
        border-top: 1px solid rgba(128, 128, 128, 0.5);
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);
        padding: 10px 5px;
    
    }
    
    .sub-link {
        padding-top: 3px;
        text-align: right;
        font-size: small;
    }
}

@media (max-width: 480px) {
    .block {
        flex: 1 1 100%;
    }
}