body {
    margin: 0;
    padding: 0;
}

#content {
    font-family: Arial, sans-serif, Helvetica;
    z-index: 1;
}

#black-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: right;
    height: 90px;
    z-index: 10;
    position: relative;
    width: 100%;
}

#black-header-logo {
    text-align: left;
    margin-top: -5px;
    padding-left: 80px;
    margin-bottom: 10px;
}

#garnet-header {
    width: 100%;
    margin-top: -1px;
    background-color: rgb(137, 7, 7);
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    height: 40px;
    text-align: left;
    font-size: 25px;

}

#featured-article-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

#featured-article-title {
    text-decoration: none;
    color: brown;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: x-large;
}

#white-caption {
    background-color: white;
    width: 300px;
    height: 130px;
    padding: 10px;
    position: absolute;
    top: 500px;
    left: 110px;
    box-shadow: 0 4px 8px rgba(80, 7, 7);
}





/* Images */
#black-header-logo img{
    width: 250px;
    height: 50px;
}

#featured-article-container img {
    width: 1100px;
    height: 550px;
    
}

/* Navigation */
#header-nav {
    text-align: right;
}

#header-nav p {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: white;
    text-transform: uppercase;
    font-size: xx-small;
    padding-right: 80px;

}

#header-nav a {
    text-decoration: none;
    color: white; 
    
}

#header-nav a:hover {
    background-color: brown;

}

/* Media Queries */
@media screen and (min-width: 768px) {
    
}