/* Structure */
body {
    background-color: #FACFCE;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin: auto;
}

#secondary-content {
    background-color: #008f8d8f;
    width: 100%;
    
}

#main-nav a, #section-1 p {
    text-align: center;
}

#link-nav ul {
    text-align: left;
    padding-left: 0;
}

#link-bar {
    background-color: #23606E;
    padding: 7px;
}

#section-1 p {
    width: 300px auto;
    font-size: smaller;
    text-align: left;
    margin: 16px;
}

#big-ideas {
    width: 85%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
   
}

#idea-1, #idea-2, #idea-3 {
    padding: 5px;
    border-radius: 4px;
    border-bottom: 5px solid #FACFCE ;
    background-color: #008f8d8f;
}

#big-ideas h3, #big-ideas p  {
    padding: 8px;
    margin: auto;
}

#section-1 div, #section-2 section {
    text-align: center;
}

/* Navigation */
#main-nav ul {
    padding-left: 0;
}

#main-nav li {
    list-style-type: none;
    border: 1px solid #FACFCE;
    padding: 5px;
    background-color: #23606E;
    text-align: center;
}

#main-nav li:hover {
    background-color: #23606e80;
}

#main-nav a, #link-nav a {
    text-decoration: none;
    padding: 6px;
    
}

#link-nav li {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
    padding: 5px;
    margin: auto;
    color: rgb(197, 214, 228);
    

}

#link-nav a {
    text-decoration-line: underline;
}

/* Images */
#big-idea img {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* Typography */
#main-header {
    text-align: center;
}

#main-nav a, #link-nav a, #link-title{
    color: antiquewhite;
}



/* Media Queries */
@media screen and (min-width: 300px){
    .columns, #main-nav ul {
        display: flex;
    }

    .one, #main-nav li {
        flex: 1;
    }

    #section-1 {
        flex: 33%;
    }

    #section-2 {
        flex: 50%;
    }

    #link-bar {
        flex: 17%;
    }
    
}